<div class='program-container'>

  <%= render "shared/header" %>

  <section class='list-background'>

    <section style='min-height: 100%;'>

      <section style='margin: 16px auto 0px; position: relative; max-width: 720px; padding-left: 16px; padding-right: 16px;'>

        <section style="border: 1px solid rgb(41, 51, 67); border-radius: 5px; background-color: rgb(28, 34, 46); max-width: 720px; width: 100%; align-items: center; padding: 32px; box-sizing: border-box; margin-top: 16px;">
          <section style="font-size: 20px; font-weight: 300; margin-bottom: 16px; color: white;">Subscribe Now!</section>
          <section>
            <section style="font-size: 18px; font-weight: 300; opacity: 0.7; margin-top: 8px; margin-bottom: 8px; color: white">For full access to the Inner Life library, subscribe now! Listen to meditations from the best teachers.</section>
          </section>
          <section style="display: flex; width: 100%; flex-flow: row wrap; justify-content: space-between; align-items: center; margin-top: 16px;">
            <section style="font-size: 16px; text-align: center; margin: 0px; padding: 0px;">
              <section style="position: relative; overflow: hidden; width: 200px; height: 200px; padding: 0px; margin: 0px 8px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; border-radius: 5px; box-sizing: border-box; cursor: pointer; background-color: rgb(52, 169, 180);">
                <section style="padding: 24px 16px 16px;">
                  <section style="font-size: 18px; font-weight: 300; text-align: center; text-transform: none;">Monthly</section>
                  <section style="font-size: 43px; font-weight: 500;">$9.99</section>
                  <section style="font-size: 16px; font-weight: 300; font-style: oblique; text-transform: none;">per month</section>
                </section>

                <%= form_tag(monthly_subscription_path, {:class => 'subscribe-button'})  do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A month's subscription"
                          data-amount="999"
                          data-image="https://static1.squarespace.com/static/54a21923e4b0be677c12a827/t/54eb76f9e4b0e3df8c199467/1493842069831/?format=1500w"
                          data-locale="auto"
                          data-email="<%=current_user.email%>">
                  </script>

                  <button type="submit" style="position: absolute; left: 0px; bottom: 0px; width: 100%; height: 56px; background-color: rgb(255, 139, 139); font-size: 18px; font-weight: 300; text-transform: none; border: none; font-family: Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;">Subscribe</button>
                <% end %>

              </section>
            </section>
            <section style="font-size: 16px; text-align: center; margin: 0px; padding: 0px;">
              <section style="position: relative; overflow: hidden; width: 200px; height: 200px; padding: 0px; margin: 0px 8px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; border-radius: 5px; box-sizing: border-box; cursor: pointer; background-color: rgb(32, 189, 195);">
                <section style="font-size: 14px; font-weight: 500; display: flex; align-items: center; justify-content: center; position: absolute; height: 20px; width: 120px; top: 25px; right: -46px; padding: 2px 24px; background-color: rgb(255, 139, 139); transform: rotate(45deg);">Most popular!</section>
                <section style="padding: 24px 16px 16px;">
                  <section style="font-size: 18px; font-weight: 300; text-align: center; text-transform: none;">Yearly</section>
                  <section style="font-size: 43px; font-weight: 500;">$8.25</section>
                  <section style="font-size: 16px; font-weight: 300; font-style: oblique; text-transform: none;">per month
                  </section>
                </section>

                <%= form_tag(yearly_subscription_path, {:class => 'subscribe-button'})  do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A year's subscription"
                          data-amount="9999"
                          data-image="https://static1.squarespace.com/static/54a21923e4b0be677c12a827/t/54eb76f9e4b0e3df8c199467/1493842069831/?format=1500w"
                          data-locale="auto"
                          data-email="<%=current_user.email%>">
                  </script>

                  <button type="submit" style="position: absolute; left: 0px; bottom: 0px; width: 100%; height: 56px; background-color: rgb(255, 139, 139); font-size: 18px; font-weight: 300; text-transform: none; border: none; font-family: Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;">Subscribe</button>
                <% end %>

              </section>
            </section>
            <section style="font-size: 16px; text-align: center; margin: 0px; padding: 0px;">
              <section style="position: relative; overflow: hidden; width: 200px; height: 200px; padding: 0px; margin: 0px 8px; display: flex; flex-direction: column; align-items: center; justify-content: space-between; border-radius: 5px; box-sizing: border-box; cursor: pointer; background-color: rgb(32, 189, 195);">
                <section style="padding: 24px 16px 16px;">
                  <section style="font-size: 18px; font-weight: 300; text-align: center; text-transform: none;">Lifetime</section>
                  <section style="font-size: 43px; font-weight: 500;">$199</section>
                  <section style="font-size: 16px; font-weight: 300; font-style: oblique; text-transform: none;">pay just once!</section>
                </section>

                <%= form_tag(forever_subscription_path, {:class => 'subscribe-button'})  do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                          data-description="A permanent subscription"
                          data-amount="19900"
                          data-image="https://static1.squarespace.com/static/54a21923e4b0be677c12a827/t/54eb76f9e4b0e3df8c199467/1493842069831/?format=1500w"
                          data-locale="auto"
                          data-email="<%=current_user.email%>">
                  </script>

                  <button type="submit" style="position: absolute; left: 0px; bottom: 0px; width: 100%; height: 56px; background-color: rgb(255, 139, 139); font-size: 18px; font-weight: 300; text-transform: none; border: none; font-family: Avenir,Helvetica Neue,Helvetica,Arial,sans-serif;">Subscribe</button>
                <% end %>

              </section>
            </section>
          </section>
        </section>

      </section>

    </section>

  </section>

</div>
