<div class="teachers-container">

<section class="teachers-padding-box">

  <section class="teachers-centering-box">

    <section class="teachers-info-box">
      <section class="teachers-text">
        In a cave in the woods, in his deep dark lair,
        through the long cold winter, sleeps a great brown bear
      </section>
    </section><%# teachers-info-box %>

    <section class="teachers-info-box">

      <section class="teachers-text teachers-margin">
        <section class="teachers-pictures-box">
          <%= react_component 'TeacherPicLink' %>
          <%= react_component 'TeacherPicLink' %>
          <%= react_component 'TeacherPicLink' %>
          <%= react_component 'TeacherPicLink' %>
          <%= react_component 'TeacherPicLink' %>
          <%= react_component 'TeacherPicLink' %>
        </section>

      </section>

    </section>

  </section>

</section>

</div>
