<%= form_tag monthly_subscription_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="type">
      <p>Monthly Subscription</p>
    </label>
    <label class="amount">
      <span>Amount: $9.99 / month</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="999"
          data-image="https://static1.squarespace.com/static/54a21923e4b0be677c12a827/t/54eb76f9e4b0e3df8c199467/1493842069831/?format=1500w"
          data-locale="auto"
          data-email="<%=current_user.email%>">
  </script>
<% end %>

<%= form_tag yearly_subscription_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="type">
      <p>Yearly Subscription</p>
    </label>
    <label class="amount">
      <span>Amount: $79.99 / year</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="7999"
          data-image="https://static1.squarespace.com/static/54a21923e4b0be677c12a827/t/54eb76f9e4b0e3df8c199467/1493842069831/?format=1500w"
          data-locale="auto"
          data-email="<%=current_user.email%>">
  </script>
<% end %>

<%= form_tag forever_subscription_path do %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
    <label class="type">
      <p>Get Access Forever!</p>
    </label>
    <label class="amount">
      <span>Amount: $199.99</span>
    </label>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="A month's subscription"
          data-amount="19999"
          data-image="https://static1.squarespace.com/static/54a21923e4b0be677c12a827/t/54eb76f9e4b0e3df8c199467/1493842069831/?format=1500w"
          data-locale="auto"
          data-email="<%=current_user.email%>">
  </script>
<% end %>
